@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MVC Bartender App</h1>
    <p class="lead">Welcome to my MVC Bartender Application</p>
    <p>@Html.ActionLink("Menu", "Index", "Menu")</p>
</div>

<div class="row">
    
</div>